{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'web/script.js' %}"></script> 
        <link rel="stylesheet" href="{% static 'web/style.css' %}">    
        <title>Akamasoa</title>
    </head>
    <body>
          
        <header class="header">
        <div class="efect-background">
            <nav class="menu">
                <div class="container">
                    <a href="#" class="logo">
                        <img src="{% static 'web/Img/_Logo_Betania_Akamasoa-removebg-preview.png' %}" alt="Akamasoa" id="logo-original">
                        <img src="{% static 'web/Img/_Logo_Betania_Akamasoa-removebg.png' %}" alt="Akamasoa" class="logo-scrolled">
                    </a>
                    <div class="menu-toggle">
                        <input type="checkbox" id="menu-toggle">
                        <label for="menu-toggle" class="menu-icon">
                            <span></span>
                        </label>
                    </div>
                    <div class="navbar" id="menu">
                        <ul id="menu-items">
                            
                            <li><a href="/">Inicio</a></li>
                        </ul>
                    </div>
                                                            
                </div>
            </nav> 
            <div class="header-content container">
                <div class="header-txt">
                    <br>
                    <img class="Main-logo" src="{% static 'web/Img/LogoAkamasoaBtn.png' %}" alt="Akamasoa">

                    <h1>AKAMASOA <br>& BETANIA</h1>
                    <p>Apostoles al servicio de los demas.</p>
                    
                    
                    <a class="bn39" href="https://donaronline.org/akamasoa-argentina-argentina/la-pobreza-puede-ser-erradicada-con-trabajo-educacion-y-disciplina" onclick="window.open(this.href, '_blank'); return false;"><span class="bn39span">DONAR</span></a>
                     
                </div>
            </div>
        </div>  
        </header>
        


<section class="programas-container-animado">
    <div class="effect-background2">
    <div class="programas-content">
        <div class="programa">
            <img src="{% static 'web/Img/1-removebg-preview.png' %}" alt="Programa de Educación">
            <h3>Transformación a través del Servicio Solidario</h3>
            <br>
            <p>Los estudiantes del colegio Betania se involucran en tareas que van desde la 
            construcción de viviendas hasta la cocción de alimentos, aprendiendo el valor de la solidaridad en cada acción.</p>
            <a href="https://akamasoaargentina.org/que-hacemos/" onclick="window.open(this.href, '_blank'); return false;" class="btn-secondary">Más información</a>
        </div>
        <div class="programa">
            <img src="{% static 'web/Img/02akamasoa-1410124399-removebg-preview.png' %}" alt="Programa de Empleo">
            <h3>Aprendizaje en servicio</h3>
            <br>
            <p>Participamos en proyectos de construcción que no solo brindan un techo,
            sino también un espacio donde las familias pueden encontrar paz y dignidad, guiados por principios cristianos.</p>
            <a href="#" class="btn-secondary">Más información</a>
        </div>
        <div class="programa">
            <img src="{% static 'web/Img/logotipo-betania-2x.png' %}" alt="Programa de Salud">
            <h3>Servir al Prójimo en Comunidad</h3>
            <br>
            <p>A través del voluntariado, nuestros estudiantes viven su fe al servicio de los demás,
            colaborando en tareas que transforman comunidades y sus propias vidas.</p>
            <a href="https://www.colegiobetania.edu.ar/akamasoa/#more-1251"onclick="window.open(this.href, '_blank'); return false;" class="btn-secondary">Más información</a>
        </div>
    </div>
</div>
</section>
 



<!--
<section class="impacto container animado">
    <h2>Nuestro Impacto</h2>
    <div class="impacto-content">
        <div class="impacto-item">
            <h3>8000</h3>
            <p>Niños y jóvenes atendidos</p>
        </div>
        <div class="impacto-item">
            <h3>5000</h3>
            <p>Adultos capacitados</p>
        </div>
        <div class="impacto-item">
            <h3>2000</h3>
            <p>Personas empleadas</p>
        </div>
        <div class="impacto-item">
            <h3>1000</h3>
            <p>Campañas de salud realizadas</p>
        </div>
        <div class="impacto-item">
            <h3>3000</h3>
            <p>Voluntarios participantes</p>
        </div>
    </div>
</section>
-->



    <section class="equipo-container-animado equipo">
        <div class="container">
        <h2>¿Quienes hacen esto posible?</h2>
        <div class="equipo-content">
            <div class="miembro">
                <h3>GRUPO 2022</h3>
                <img src="{% static 'web/Img/2022.jpg' %}" alt="Miembro del equipo 1">
                <h3></h3>
                <a href="/2022" onclick="window.open(this.href, '_blank'); return false;">Lista de personas que participaron</a>
            </div>
            <div class="miembro">
                <h3>GRUPO 2023</h3>
                <div class="img2">
                <img src="{% static 'web/Img/2023.jpg' %}" alt="Miembro del equipo 2">
                </div>
                <h3></h3>
                <a href="/2023" onclick="window.open(this.href, '_blank'); return false;">Lista de personas que participaron</a>
            </div>
            <div class="miembro">
                <h3>GRUPO 2024</h3>
                <div class="img3">
                <img src="{% static 'web/Img/2024.jpg' %}" alt="Miembro del equipo 3">
                </div>
                <h3></h3>
                <a href="/2024" onclick="window.open(this.href, '_blank'); return false;">Lista de personas que participaron</a>
            </div>
        </div>
    </div>
    </section>



<section class="testimonios container animado">
    <h2>Testimonios</h2>
    <div class="testimonios-content">
        
        <div class="testimonio">
            <img src="{% static 'web/Img/conni-modified.png' %}" alt="Testimonio 1">
            <h3>Constanza Cragno</h3>
            <p>La experiencia de urbanización comunitaria iniciada por el sacerdote Pedro Opeka en Madagascar hace 35 años se está replicando en Lima, Provincia de Buenos Aires, Argentina, bajo la dirección del economista Gastón Vigo Gasparotti. El proyecto se basa en tres pilares: trabajo, educación y vivienda digna, con el objetivo de combatir la pobreza extrema.</p>
            </div>
        
        <div class="testimonio">
            <img src="{% static 'web/Img/Akamasoargentina.jpg' %}" alt="Testimonio 2">
            <h3>Mercedes Martinez</h3>
            <p>Akamasoa significa para mí la posibilidad de brindar una ayuda real y concreta a mis semejantes, mujeres y hombres que en base al trabajo y a la educación pueden sobreponerse de situaciones de alta vulnerabilidad y tener una posibilidad concreta de superación. Valoro este proyecto porque no es un vano asistencialismo, sino, una labor comprometida que aborda el servicio en sus dimensiones más complejas.</p>
        </div>

        <div class="testimonio">
            <img src="{% static 'web/Img/Akamasoargentina.jpg' %}" alt="Testimonio 3">
            <h3>Raul Gonzales</h3>
            <p>Durante los últimos dos años, he acompañado a estudiantes de cuarto y quinto año del Colegio Betania en su experiencia en Akamasoa, cerca de Lima. Gracias a aspectos como el trabajo, la convivencia, el dar y el recibir y la vida espiritual hacen que la experiencia en Akamasoa sea enriquecedora, y animo a todos a participar.</p>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let days = document.getElementById('days')
        let hours = document.getElementById('hours')
        let minutes = document.getElementById('minutes')
        let seconds = document.getElementById('seconds')

        let dd = document.getElementById('dd')
        let hh = document.getElementById('hh')
        let mm = document.getElementById('mm')
        let ss = document.getElementById('ss')

        let day_dot = document.querySelector('.day_dot')
        let hr_dot = document.querySelector('.hr_dot')
        let min_dot = document.querySelector('.min_dot')
        let sec_dot = document.querySelector('.sec_dot')

        let endDate = '11/14/2024 00:00:00'

        let x = setInterval(function(){
            let now = new Date(endDate).getTime()
            let countDown = new Date().getTime()
            let distance = now - countDown

            let d = Math.floor(distance / (1000 * 60 * 60 * 24))
            let h = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
            let m = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
            let s = Math.floor((distance % (1000 * 60)) / (1000))

            days.innerHTML = d + "<br><span>Días</span>"
            hours.innerHTML = h + "<br><span>Horas</span>"
            minutes.innerHTML = m + "<br><span>Minutos</span>"
            seconds.innerHTML = s + "<br><span>Segundos</span>"

            dd.style.strokeDashoffset = 440 - (440 * d) / 30
            hh.style.strokeDashoffset = 440 - (440 * h) / 24
            mm.style.strokeDashoffset = 440 - (440 * m) / 60
            ss.style.strokeDashoffset = 440 - (440 * s) / 60

            day_dot.style.transform = `rotateZ(${d * 12}deg)`
            hr_dot.style.transform = `rotateZ(${h * 15}deg)`
            min_dot.style.transform = `rotateZ(${m * 6}deg)`
            sec_dot.style.transform = `rotateZ(${s * 6}deg)`

            if(distance < 0) {
                clearInterval(x)
                document.getElementById("time").style.display = 'none'
            }
        }, 1000)
    })
</script>
<div class="HolaHI">
    <div class="header-content2 container2">
        <div class="header-txt">
                <h1>Tiempo para Akamasoa</h1>
        </div>
    </div>
        <div id="countdown">
            
<div id="time">
    <div class="circle" style="--clr:#0098f4;">
        <div class="dots day_dot"></div>
        <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70" id="dd"></circle>
        </svg>
        <div id="days">00<br><span>Días</span></div>
    </div>
    <div class="circle" style="--clr:#ff2972;;">
        <div class="dots hr_dot"></div>
        <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70" id="hh"></circle>
        </svg>
        <div id="hours">00</div>
    </div>
    <div class="circle" style="--clr:#fee800;;">
        <div class="dots min_dot"></div>
        <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70" id="mm"></circle>
        </svg>
        <div id="minutes">00</div>
    </div>
    <div class="circle" style="--clr:#04fc43;;">
        <div class="dots sec_dot"></div>
        <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70" id="ss"></circle>
        </svg>
        <div id="seconds">00</div>
    </div>
</div>  
        </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <h3>Akamasoa Argentina</h3>
                <p>Dirección: 34.039127,-59.210258, B2806 Lima, Provincia de Buenos Aires</p>
                <p>Teléfono: +54 9 3416700172</p>
                <p>Email: info@akamasoaargentina.org</p>
                <p>Pagina Oficial:<a href="https://akamasoaargentina.org/"> Akamasoa</a></p>
            </div>

        <div class="footer-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
